{{#section 'js'}}
<script>  $('.detail_button').on('click', function () {
    const idProduct = $(this).data('idProduct');
    console.log('hbs page');
    console.log(idProduct);
    $('#idProduct').val(idProduct);
    $('#frmIdProduct').submit();
  });
</script>
{{/section}}

<!-- Page Content -->
<div class="page-heading products-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>Danh sách các sản phẩm</h4>
          <h2>Products</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- products  -->

<div class="products">
  <div class="container">
    <div class="row">

      {{#each list}}
      <form action="/products/product_detail" id="frmIdProduct" method="GET">
        <input type="hidden" name="idProduct" id="idProduct" value="{{idProduct}}">
      </form>
      <div class="col-md-4">
        <div class="product-item">
          <a href="/products/product_detail" class="detail_button" data-idProduct="{{idProduct}}"><img
              src={{this.images}} alt="{{this.name}}"></a>
          <div class="down-content">
            <a href="/products/product_detail" class="detail_button" data-idProduct="{{idProduct}}">
              <h4>{{this.name}}</h4>
            </a>
            <h6>{{this.prince}}đ</h6>
            <!-- <p>{{this.description}}</p> -->
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (24)</span>
          </div>
          <div class="mb-3 ml-5">
            <a class="btn btn-primary detail_button" href="/products/product_detail" role="button"
              data-idProduct="{{idProduct}}">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              Chi tiết
            </a>
            <a class="btn btn-danger" href="#" role="button">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Thêm vào giỏ
            </a>
          </div>
        </div>
      </div>
      {{/each}}

      <!-- end products  -->

      <!-- Pagination -->
      <div class="col-md-12 mb-5">
        <ul class="pages">
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
        </ul>
      </div>
      <!-- end pagination -->

    </div>
  </div>
</div>