{{#section 'css'}}
<style>
    .products{
        margin-top: 120px;
    }
</style>
 
{{/section}}



<!-- Chi tiết sản phẩm-->
<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div>
                    <img src="/assets/images/product_01.jpg" alt="" class="img-fluid wc-image">
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <div>
                            <img src="/assets/images/product_01.jpg" alt="" class="img-fluid">
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div>
                            <img src="/assets/images/product_01.jpg" alt="" class="img-fluid">
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div>
                            <img src="/assets/images/product_01.jpg" alt="" class="img-fluid">
                        </div>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-xs-12">
                <form action="#" method="post" class="form">
                    <h2>Lorem ipsum dolor sit amet.</h2>

                    <br>

                    <p class="lead">
                        <strong>Giá tiền: </strong><strong class="text-primary">$779.00</strong>
                    </p>

                    <p class="lead mt-2">
                        <strong>Số lượng đã bán: 3</strong>
                    </p>

                    <p class="lead mt-2">
                        <strong>Sản phẩm còn lại: 15 </strong>
                    </p>

                    <br>

                    <div class="row">
                        <div class="col-sm-4">
                            <label class="control-label">Size</label>
                            <div class="form-group">
                                <select class="form-control">
                                    <option value="0">S</option>
                                    <option value="1">L</option>
                                    <option value="2">M</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <label class="control-label">Số lượng</label>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="1">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <a href="#" class="btn btn-primary btn-block">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Chi tiết sản phẩm -->  



<!-- tương tác với khách -->
<div class="interactive">
    <nav class="ml-5">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-des" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">Mô tả chi tiết</a>
            <a class="nav-item nav-link" id="nav-comments" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">Bình luận</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active mt-3 ml-5" id="nav-home" role="tabpanel" aria-labelledby="nav-des">Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Odit voluptates provident illo sapiente dolor rem
            similique quia, cumque mollitia vitae pariatur magnam delectus esse sunt inventore itaque dicta numquam enim
            voluptate aliquam nisi quis! Magni similique eos architecto necessitatibus quibusdam, dolorem, labore at eum
            laudantium suscipit non alias impedit modi?</div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-comments">
            <div class="ml-5">
                <div class="card text-left">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Nguyễn Khánh A</h4>
                        <p class="card-text">Sản phẩm rất tốt, rất đúng giá tiền</p>
                    </div>
                </div>
                <div class="card text-left">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Lê Nguyễn Anh</h4>
                        <p class="card-text">Ủng hộ shop</p>
                    </div>
                </div>
                <div class="card text-left">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Hoàng Thị Ngọc</h4>
                        <p class="card-text">Sản phẩm rất đẹp, đáng mua</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end tương tác với khách -->


<!-- Sản phẩm tương tự -->
<div class="latest-products mb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Sản phẩm tương tự</h2>
                    <a href="/products">Xem tất cả <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
      {{#each similarProduct}}
      <div class="col-md-4">
        <div class="product-item">
          <a href="/products/product_detail"><img src={{this.images}} alt="{{this.name}}"></a>
          <div class="down-content">
            <a href="/products/product_detail">
              <h4>{{this.name}}</h4>
            </a>
            <h6>{{this.prince}}đ</h6>
            <!-- <p>{{this.description}}</p> -->
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (24)</span>
          </div>
          <div class="mb-3 ml-5">
            <a class="btn btn-primary" href="/products/product_detail" role="button">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              Chi tiết
            </a>
            <a class="btn btn-danger" href="#" role="button">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Thêm vào giỏ
            </a>
          </div>
        </div>
      </div>
      {{/each}}
        </div>
    </div>
</div>
<!-- end sản phẩm tương tự -->